* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #101010;
  max-width: 100%;
  padding: 0;
  margin: 0;
  line-height: 1.6;
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
}

html {
  overflow-x: hidden;
}

#overlay {
  height: 100%;
  width: 100%;
  background-color: #212121;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 0;
  top: 0;
  z-index: 2;
}

.loader h2 {
  color: #AEAEAE;
  font-size: 28px;
}

@media screen and (min-width: 991px) {
  .loader h2 {
    font-size: 42px;
  }
}

.loader span img {
  width: 35px;
  height: 35px;
  margin: -7px 5px;
}

@media screen and (min-width: 991px) {
  .loader span img {
    width: 50px;
    height: 50px;
    margin: -10px 5px;
  }
}

.loader span {
  color: #AEAEAE;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 14px;
}

@media screen and (min-width: 750px) {
  a {
    font-size: 1rem;
  }
}

.tag-inactive {
  font-weight: bold;
}

.navbar {
  background-color: rgba(33, 33, 33, 0.7);
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 5px;
  padding: 5px;
}

.navbar a {
  padding: 20px;
  margin: 0;
}

@media screen and (min-width: 991px) {
  .navbar a:hover {
    color: #FFFFFF;
    font-weight: bold;
  }
}

.navbar .flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container-nav {
  max-width: 1900px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 20px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.logo {
  width: 40px;
  height: 40px;
  margin: 10px 5px;
}

h1 {
  color: #FFFFFF;
  font-family: "Anton", sans-serif;
  font-size: 42px;
  letter-spacing: 2px;
  line-height: 1.2;
  margin: 10px 0;
}

@media screen and (min-width: 991px) {
  h1 {
    font-size: 70px;
  }
}

h2 {
  color: #AEAEAE;
  font-size: 18px;
}

@media screen and (min-width: 991px) {
  h2 {
    font-size: 28px;
  }
}

h3 {
  color: #AEAEAE;
  font-size: 16px;
}

@media screen and (min-width: 991px) {
  h3 {
    font-size: 22px;
  }
}

p {
  color: #FFFFFF;
}

b {
  color: #FFFFFF;
}

#showcase {
  min-height: 500px;
}

@media screen and (min-width: 991px) {
  #showcase {
    min-height: 750px;
  }
}

#showcase .bg-image {
  background: url("/portfolio-files/Careerin/careerin-showcase.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  margin: auto auto auto auto;
  z-index: -1;
}

@media screen and (min-width: 991px) {
  #showcase .bg-image {
    min-height: 750px;
    width: 100%;
    margin: auto auto auto auto;
  }
}

@media screen and (min-width: 1900px) {
  #showcase .bg-image {
    min-height: 750px;
    width: 100%;
    margin: auto auto auto auto;
  }
}

#showcase .archery-video-header {
  top: 0;
  left: 0;
  width: 100%;
  height: 80vh;
  overflow: hidden;
  z-index: -1;
}

#showcase .synneko-image {
  background: url("/portfolio-files/next-img-thumbnails/synneko-next-thumb.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  margin: auto auto auto auto;
  z-index: -1;
}

@media screen and (min-width: 991px) {
  #showcase .synneko-image {
    min-height: 750px;
    width: 100%;
    margin: auto auto auto auto;
  }
}

@media screen and (min-width: 1900px) {
  #showcase .synneko-image {
    min-height: 750px;
    width: 100%;
    margin: auto auto auto auto;
  }
}

#showcase .crunchyroll-image {
  background: url("/portfolio-files/next-img-thumbnails/crunchyroll-next-thumb.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  margin: auto auto auto auto;
  z-index: -1;
}

@media screen and (min-width: 991px) {
  #showcase .crunchyroll-image {
    min-height: 750px;
    width: 100%;
    margin: auto auto auto auto;
  }
}

@media screen and (min-width: 1900px) {
  #showcase .crunchyroll-image {
    min-height: 750px;
    width: 100%;
    margin: auto auto auto auto;
  }
}

.text-head {
  text-align: center;
  color: #FFFFFF;
  padding: 40px;
}

.text-head .display h1 {
  font-size: 42px;
  letter-spacing: 3px;
}

@media screen and (min-width: 991px) {
  .text-head .display h1 {
    font-size: 90px;
  }
}

.text-head .display h3 {
  font-size: 1rem;
  font-weight: bold;
  color: #454545;
}

@media screen and (min-width: 991px) {
  .text-head .display h3 {
    font-size: 18px;
  }
}

.overview, .next {
  margin: 5% auto auto auto;
}

.secondary-bg {
  background-color: #212121;
}

.overview ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px 0;
}

.overview p {
  padding: 10px;
  margin: 0 20px;
}

.tags {
  padding-left: 0;
}

.tags p {
  margin: auto auto auto -1%;
}

.content {
  margin: 5% auto auto auto;
}

.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.img {
  width: 100%;
}

.next {
  padding: 40px 40px;
}

.next img {
  width: 100%;
}

@media screen and (min-width: 991px) {
  .next img:hover {
    border: none;
    -webkit-animation: animate 8s linear infinite;
            animation: animate 8s linear infinite;
    -webkit-box-shadow: 0 0 5px #03a9f4, 0 0 10px #f441a5, 0 0 20px #ffeb3b, 0 0 25px #03a9f4;
            box-shadow: 0 0 5px #03a9f4, 0 0 10px #f441a5, 0 0 20px #ffeb3b, 0 0 25px #03a9f4;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  @-webkit-keyframes animate {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 50%;
    }
  }
  @keyframes animate {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 50%;
    }
  }
}

.message {
  text-align: center;
  padding: 20px 0;
  margin: 10% auto auto auto;
}

.btn {
  display: block;
  padding: 7px;
  width: 156px;
  height: 50px;
  border: 2px solid #FFFFFF;
  border-radius: 15px;
  background: #212121;
  margin: 5% auto auto auto;
}

@media screen and (min-width: 991px) {
  .btn:hover {
    background: -webkit-gradient(linear, left top, right top, from(#03a9f4), color-stop(#f441a5), color-stop(#ffeb3b), to(#03a9f4));
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border: none;
    -webkit-animation: animate 8s linear infinite;
            animation: animate 8s linear infinite;
    -webkit-box-shadow: 0 0 15px #03a9f4, 0 0 25px #f441a5, 0 0 50px #ffeb3b, 0 0 75px #03a9f4;
            box-shadow: 0 0 15px #03a9f4, 0 0 25px #f441a5, 0 0 50px #ffeb3b, 0 0 75px #03a9f4;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  @-webkit-keyframes animate {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 400%;
    }
  }
  @keyframes animate {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 400%;
    }
  }
}

.footer {
  padding: 0;
  margin: 5% auto auto auto;
}
/*# sourceMappingURL=main.css.map */