$primary-color: #28292D;

* {
  box-sizing: border-box;
}

body, html {
  max-width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  background: $primary-color;
  height: 100%;
  margin: 0;
  font-family: Open Sans;
}

// Header
header {
  z-index: 2;
  width: 100%;
  transform: translate(-10px, 0px);
}

// Menu

.menu-logo img {
  width: 50px;
  height: 50px;
  float: left;
  margin: 0px;
  transform: translate(30px, 0px);
}

.menu-nav li {
  display: inline-block;
  text-align: center;
  list-style: none;
  transform: translate(50px, 0px);
}

.menu-nav li a {
  
  display: block;
  padding: 12px;
  text-align: center;
  font-size: 16px;
  color: #EBEBEB;
  text-decoration: none;
  opacity: 30%;
  transform: translate(10px, 0px);
  
}

.menu-nav li a.home-active {
  font-weight: bold;
  opacity: 100%;
}

.menu-nav li a.home-active:hover {
  color: #EBEBEB;
}

.menu-nav li a.about-active {
  font-weight: bold;
  opacity: 100%;
}

.menu-nav li a.about-active:hover {
  color: #EBEBEB;
}

// Body Headings
h1, h2, h3, h4 {
  margin: 0;
  padding: 5px;
  transform: translate(50px, 120px);
  color: #EBEBEB;


  &.head {
    width: 90%;
    text-align: center;
    font-size: 36px;
    margin: auto auto auto -1%;
  }
  
  &.lg-heading {
    font-size: 28px;
    font-weight: bold;
    width: 500px;
    
  }

  &.med-heading {
    font-size: 18px;
    font-weight: normal;
    opacity: 100%;
    width: 450px;
  }

  &.sm-heading {
    font-size: 16px;
    font-weight: normal;
    opacity: 50%;
    transform: translate(50px, 110px);
  }

  &.button {
    transform: translate(50px, 170px);
  }

  &.button a {
    font-size: 16px;
    font-weight: normal;
    color: #269FF6;
    text-decoration: none;
  }
}

// Travel

.travel {
  transform: translate(0px, 60px);
}

.travel-mock img {
  width: 698px;
  height: 873px;
  transform: translate(-50px, 150px);
  z-index: -1;
}

// Flight

.flight-mock img {
  width: 664px;
  height: 564px;
  transform: translate(-40px, 150px);
  z-index: -2;
}

// UI

.UI .med-heading {
  width: 60%;
}

.videos {
  transform: translate(90px, 250px);
}

// Contact

.contact {
  text-align: center;
  transform: translate(0px, 200px);
}

.contact h3 {
  font-size: 28px;
  width: 90%;
  opacity: 100%;
}

.social-icons ul {
  display: flex;
  list-style: none;
}

.google, .linkedin, .instagram {
  width: 47px;
  height: 47px;
  margin: 0 10px;
  transform: translate(130px, 120px);
}

.footer p {
  font-size: 14px;
  color: #EBEBEB;
  opacity: 70%;
  transform: translate(20px, 160px);
}

// 30 Day //

  
  .head-30day {
    text-align: center;
    font-size: 42px;
    
  }
  
  .subhead-30day {
    text-align: center;
    font-size: 28px;
    opacity: 20%;
    line-height: 40px;
  }


// 30 Day Body Headings

h1, h3 {
  
  &.title {
    font-size: 28px;
    width: 40%;
    transform: translate(50px, 250px);
    opacity: 20%;
  }

  &.text {
    font-size: 18px;
    font-weight: normal;
    width: 75%;
    transform: translate(50px, 250px);
  }
}

.process {
  transform: translate(0px, 50px);
}

.objectives {
  transform: translate(0px, 100px);
}

.challenges {
  transform: translate(0px, 150px);
}

.format {
  transform: translate(0px, 200px);
}

.sketch {
  transform: translate(0px, 400px);
}

.sketch img {
  width: 576px;
  height: 785px;
  transform: translate(0px, 150px);
}


.mp4 {
  transform: translate(0px, 450px);
  width: 100%;
}

.conclusion {
  transform: translate(0px, 300px);
}


.project1 h4 {
  transform: translate(30px, 700px);
  font-weight: normal;
  color: #269FF6;
}

.project1 h1 {
  transform: translate(30px, 700px);
  font-size: 22px;
}

.project2 h4 {
  transform: translate(400px, 625px);
  font-weight: normal;
  color: #269FF6;
}

.project2 h1 {
  transform: translate(340px, 625px);
  font-size: 22px;
}

.footer-30day p {
  text-align: center;
  transform: translate(5px, 700px);
  font-size: 14px;
  color: #EBEBEB;
}

// About Page //

.description {
  font-size: 28px;
  width: 81%;
}

.portrait img {
  transform: translate(100px, 300px);
}

.background {
  transform: translate(0px, 300px);

  .about-title {
    opacity: 30%;
    font-size: 28px;
  }

  .about-text {
    font-size: 18px;
  font-weight: normal;
  width: 84%;
  }

  .about-text b {
    color: #269FF6;
  }
}

.personal {
  transform: translate(0px, 350px);

  .about-title {
    opacity: 30%;
  }

  .about-text {
    font-size: 18px;
  font-weight: normal;
  width: 80%;
  }
}

.about-contact {
  transform: translate(0px, 400px);
}

.about-contact h3 {
  text-align: center;
  font-size: 22px;
  width: 90%;
  }

  .about-social-icons ul {
    display: flex;
    list-style: none;
  }

  .about-footer {
    text-align: center;
    font-size: 14px;
    color: #EBEBEB;
    transform: translate(10px, 160px);
  }




// Responsive

// Smartphones Just In Case
@media screen and (min-width: 320px) {

  .menu {
    margin: auto auto auto 3%;
  }

  main {
    width: 100%;
    margin: auto auto auto -3%;
  }
  .travel {
    margin: 20% auto auto 2%;

    .lg-heading {
      width: 85%;
    }

    .med-heading {
      width: 80%;
    }

    .button {
      margin: 0% auto auto auto;
    }

    .travel-mock img {
      margin: 5% auto auto -20%;
    }
  }

  .flight {
    margin: 20% auto auto 2%;

    .lg-heading {
      width: 90%;
    }

    .med-heading {
      width: 70%;
    }

    .flight-mock img {
      margin: 5% auto auto -8%;
    }
  }

  .UI {
    margin: auto auto auto 2%;

    .med-heading {
      width: 100%;
    }
  }

  .contact {
    width: 85%;
    margin: auto auto auto 2%;
  }

  .social-icons {
    margin: auto auto auto -8%;
  }

  .footer {
    margin: auto auto auto 5%;
  }

  // 30 Day Section //

  .head-30day {
    width: 80%;
    margin: auto auto auto -2%;
  }
  
  .subhead-30day {
    margin: auto auto auto -2%;
    width: 80%;
  }

  .sketch img {
    width: 505px;
    height: 688px;
  }

  .UI-page {
    margin: 90% auto auto auto;

    .title {
      width: 100%;
    }

    .text {
      width: 85%;
    }
  }

  .mp4 {
    margin: -20% auto auto 5%;
  }

  .project1 {
    margin: auto auto auto auto;
  }

  .project2 {
    margin: .5% auto auto -12%;
  }

  .footer-30day {
    margin: -5% auto auto -2%;
  }

  // About Section //

  .portrait img {
    width: 400px;
    height: 503px;
    margin: auto auto auto -10%;
  }

  .about-text p {
    width: 94%;
  }

  .about-contact {
    width: 90%;
    margin: 10% auto auto 0%;
  }

  .about-social-icons {
    margin: auto auto auto -5%;
  }

}

// Smartphones
@media screen and (min-width: 576px) {

  .menu {
    margin: auto auto auto 9%;
  }

  header {
    width: 95%;
    margin: auto auto auto auto;
  }

  main {
    width: 100%;
    margin: auto auto auto -2%;

  }

  .travel {
    width: 100%;
    margin: 20% auto auto 1%;

    .lg-heading {
      width: 75%;
    }

    .travel-mock img {
      margin: 5% auto auto -15%;
    }
  }

  .flight {
    width: 100%;
    margin: 20% auto auto 1%;

    .lg-heading {
      width: 83%;
    }

    .flight-mock img {
      margin: 5% auto auto -1%;
    }
  }

  .UI {
    width: 100%;
    margin: auto auto auto 1%;

    .sm-heading {
      margin: 20% auto auto auto;
    }

    .button {
      margin: 0% auto auto auto;
    }
  }

  .videos {
    margin: auto auto auto -10%;
  }

  .contact {
    width: 90%;
    margin: auto auto auto 1%;
  }

  .social-icons {
    margin: auto auto auto auto;
  }

  .footer {
    width: 100%;
    margin: auto auto auto -1%;
  }


  // 30 Day Section //

  .head-30day {
    margin: auto auto auto 7%;
    width: 70%;
  }
  
  .subhead-30day {
    margin: auto auto auto 7%;
    width: 70%;
  }

  .sketch img {
    width: 576px;
    height: 785px;
  }

  .title {
    margin: auto auto auto 7%;
  }

  .text {
    margin: auto auto auto 7%;
  }

  .mp4 {
    margin: -20% auto auto 10%;
  }
  

  .UI-page {
    margin: 80% auto auto auto;
  }

  .project2 {
    margin: 0.2% auto auto 1%;
  }

  .footer-30day {
    margin: 5% auto auto auto;
  }

  // About Section //

  .description {
    margin: 10% auto auto 4%;
  }

  .background {
    margin: auto auto auto 4%;
  }

  .personal {
    margin: auto auto auto 4%;
  }

  .portrait img {
    width: 470px;
    height: 590px;
    margin: auto auto auto -8%;
  }

  .about-contact {
    margin: 10% auto auto 2%;
    text-align: center;
  }

  .about-social-icons {
    margin: auto auto auto 1%; 
  }
}


// Tablets & Small Laptops
@media screen and (min-width: 768px) {

  .menu {
    margin: auto auto auto 20%;
  }


  header {
    width: 95%;
  }

  main {
    width: 90%;
    margin: 5% auto auto 5%;
  }

  .travel {
    width: 100%;
    margin: 25% auto auto 4%;

    .lg-heading {
      font-size: 28px;
      width: 40%;
    }

    .med-heading {
      font-size: 16px;
      width: 40%;
    }

    .sm-heading {
      font-size: 16px;
    }

    .button {
      font-size: 16px;
    }

    .travel-mock img {
      width: 618px;
      height: 773px;
      margin: -70% auto auto 30%;
    }

  }

  .flight {
    width: 100%;
    margin: 15% auto auto 4%;

    .lg-heading {
      font-size: 28px;
      width: 60%;
    }

    .med-heading {
      font-size: 18px;
      width: 50%;
    }

    .sm-heading {
      font-size: 16px;
      width: 30%;
    }

    .button {
      font-size: 16px;
    }

    .flight-mock img {
      width: 707px;
      height: 600px;
      margin: -40% auto auto 30%;
      
    }
  }

  .UI {
    width: 100%;
    margin: -10% auto auto 2%;
    .lg-heading {
      font-size: 32px;
      width: 90%;
    }

    .med-heading {
      font-size: 18px;
      width: 80%;
    }

    .sm-heading {
      font-size: 16px;
    }

    .button {
      font-size: 16px;
    }

    .videos {
      margin: 0% auto auto 5%;
    }
  }

  .contact {
    width: 95%;
    margin: auto auto auto 1%;
  }

  .social-icons {
    margin: auto auto auto 12%;
  }

  .footer {
    margin: auto auto auto -2%;
  }

  // 30 Day Section //

  .head-30day {
    margin: auto auto auto 5%;
    width: 80%;
  }
  
  .subhead-30day {
    margin: auto auto auto 5%;
    width: 80%;
  }

  h1, h3 {
  
    &.title {
      font-size: 28px;
      width: 40%;
      margin: 10% auto auto 4%;
      opacity: 20%;
    }
  
    &.text {
      font-size: 18px;
      font-weight: normal;
      width: 50%;
      margin: -8% auto auto 32%;
    }
  }

  .sketch img {
    width: 773px;
    height: 1052px;
    
  }

  .mp4 {
    margin: -10% auto auto 18%;
  }
  

  .UI-page {
    margin: 50% auto auto auto;
  }

  .project1 {
    margin: auto auto auto 4%;
  }

  .project1 h1 {
    font-size: 28px;
  }

  .project2 {
    margin: -0.5% auto auto 20%;
  }

  .project2 h1 {
    font-size: 28px;
    margin: auto auto auto -9%;
  }

  .footer-30day {
    margin: 5% auto auto 4%;
  }

  // About Section //

  .description {
    width: 40%;
  }

  .portrait {
    margin: -27% auto auto -7%;
  }

  .portrait img {
    width: 306px;
    height: 384px;
    margin: -100% auto auto 45%;
  }

  .background {
    width: 80%;
  }

  .personal {
    width: 90%;
  }

  .about-contact {
    width: 80%;
    margin: 10% auto auto 8%;
  }

  .about-social-icons {
    margin: auto auto auto 8%;
  }

}

// Desktops & Laptops
@media screen and (min-width: 992px) {
  header {
    width: 95%;
  }

  .menu {
    margin: auto auto auto 27%;

    .menu-nav li a:hover {
      color: #EBEBEB;
      opacity: 100%;
    }

    .menu-nav li a.home-active:hover {
      color: #EBEBEB;
    }
  }

  main {
    margin: 5% auto auto 7%;
    width: 90%;
  }

  .travel {
    margin: 40% auto auto 5%;
    width: 95%;

    .lg-heading {
      width: 45%;
    }

    .med-heading {
      font-size: 18px;
      width: 45%;
    }

    .travel-mock img {
      width: 800px;
      height: 1001px;
      margin: -70% auto auto 32%;
    }

    .button a {
      opacity: 80%;
    }

    .button a:hover {
      opacity: 100%;
    }
  }

  .flight {
    margin: 10% auto auto 5%;
    width: 100%;

    .lg-heading {
      width: 48%;
    }

    .med-heading {
      font-size: 18px;
      width: 45%;
    }

    .sm-heading {
      width: 80%;
    }

    .flight-mock img {
      width: 822px;
      height: 697px;
      margin: -40% auto auto 30%;
    }

    .button a {
      opacity: 80%;
    }

    .button a:hover {
      opacity: 100%;
    }
  }

  .UI {
    margin: 20% auto auto 2%;
    width: 100%;

    .lg-heading {
      font-size: 32px;
      width: 40%;
    }

    .med-heading {
      font-size: 18px;
      width: 25%;
    }

    .videos {
      margin: -45% auto auto 35%;
    }

    .button a {
      opacity: 80%;
    }

    .button a:hover {
      opacity: 100%;
    }
  }

  .contact {
    margin: 10% auto auto 12%;
    width: 80%;
  }

  .contact h3 {
    width: 85%;
  }

  .social-icons ul li a img:hover {
    transform: translate(130px, 100px);
    transition: .7s;
  }

  .footer {
    margin: auto auto auto -6%;
  }

  // 30 Day Section //

  .head-30day {
    margin: auto auto auto 4%;
    width: 80%;
  }
  
  .subhead-30day {
    margin: auto auto auto 4%;
    width: 80%;
  }

  h1, h3 {
  
    &.title {
      font-size: 28px;
      width: 40%;
      margin: 5% auto auto 4%;
      opacity: 20%;
    }
  
    &.text {
      font-size: 18px;
      font-weight: normal;
      width: 55%;
      margin: -6% auto auto 30%;
    }
  }

  .sketch {
    margin: -20% auto auto auto;
  }

  .sketch img {
    width: 939px;
    height: 1278px;
    margin: 5% auto auto 3%;
    
  }

  .mp4 {
    margin: -10% auto auto 4%;
  }
  

  .UI-page {
    margin: 50% auto auto auto;
  }

  .project1 {
    margin: auto auto auto 4%;
  }

  .project1 h1 {
    font-size: 32px;
  }

  .project2 {
    margin: -1% auto auto 38%;
  }

  .project2 h1 {
    font-size: 32px;
    margin: auto auto auto -14%;
  }

  .footer-30day {
    margin: 5% auto auto 3%;
  }

  // About Section //

  .menu-nav li a:hover {
    color: #EBEBEB;
    opacity: 100%;
  }

  .menu-nav li a.about-active:hover {
    color: #EBEBEB;
  }

  .description {
    width: 45%;
    margin: 10% auto auto 4%;
  }

  .portrait img {
    width: 315px;
    height: 396px;
    margin: -23% auto auto 51%;
  }

  .background {
    width: 75%;

    .about-title {
      margin: auto auto auto auto;
    }

    .about-text {
      margin: -9% auto auto 45%;
      width: 75%;
    }
  }

  .personal {
    width: 75%;

    .about-title {
      margin: auto auto auto 0%;
      width: 35%;
    }

    .about-text {
      margin: -9% auto auto 45%;
      width: 70%;
    }
  }

  .about-contact {
    width: 60%;
    margin: 10% auto auto 17%;
  }

  .about-social-icons {
    margin: auto auto auto 7%;
  }

  .about-social-icons ul li a img:hover {
    transform: translate(130px, 100px);
    transition: .7s;
  }

}


// Large Screens
@media screen and (min-width: 1200px) {
  header {
    width: 95%;
  }

  .menu {
    margin: auto auto auto 30%;

    .menu-nav li a:hover {
      opacity: 100%;
      color:#EBEBEB;
    }
  }

  main {
    width: 70%;
    margin: 5% auto auto 15%;
  }

  .travel {
    width: 100%;
    margin: 30% auto auto 9%;

    .lg-heading {
      width: 40%;
    }

    .med-heading {
      width: 40%;
    }
  
    .travel-mock img {
      width: 747px;
      height: 934px;
      margin: -50% auto auto 32%;
    }

    .button a {
      opacity: 80%;
    }

    .button a:hover {
      opacity: 100%;
    }
  }

  .flight {
    width: 75%;
    margin: 10% auto auto 9%;

    .lg-heading {
      width: 54%;
    }

    .sm-heading {
      width: 100%;
    }

    .flight-mock img {
      margin: -40% auto auto 30%;
    }

    .button a {
      opacity: 80%;
    }

    .button a:hover {
      opacity: 100%;
    }
  }

  .UI {
    width: 100%;
    margin: 15% auto auto 9%;

    .lg-heading {
      width: 30%;
    }

    .med-heading {
      width: 20%;
    }

    .button a {
      opacity: 80%;
    }

    .button a:hover {
      opacity: 100%;
    }
  }

  .day29-home {
    margin: 15% auto auto -10%;
  }

  .contact h3 {
    margin: 10% auto auto 2%;
    width: 80%;
  }

  .social-icons {
    margin: auto auto auto 17%;
  }

  .footer {
    margin: auto auto auto -7%;
  }

  // 30 Day Section //

  .head-30day {
    margin: auto auto auto 5%;
  }

  .subhead-30day {
    margin: auto auto auto 5%;
  }

  h1, h3 {
  
    &.title {
      font-size: 28px;
      width: 40%;
      margin: 5% auto auto 15%;
      opacity: 20%;
    }
  
    &.text {
      font-size: 18px;
      font-weight: normal;
      width: 45%;
      margin: -5% auto auto 37%;
    }
  }

  .sketch {
    margin: -10% auto auto auto;
  }

  .sketch img {
    width: 939px;
    height: 1278px;
    margin: 5% auto auto 10%;
    
  }

  .mp4 {
    margin: -10% auto auto 12%;
  }

  .day29 {
    margin: -19% auto auto auto;
  }
  

  .UI-page {
    margin: 40% auto auto auto;
  }

  .conclusion {
    margin: 10% auto auto auto;
  }

  .project1 {
    margin: auto auto auto 15%;
  }

  .project1 h1 {
    font-size: 32px;
  }

  .project2 {
    margin: -1% auto auto 38%;
  }

  .project2 h1 {
    font-size: 32px;
    margin: auto auto auto -11%;
  }

  .footer-30day {
    margin: 5% auto auto -2%;
  }

  // About Section //

  .menu-nav li a:hover {
    color: #EBEBEB;
    opacity: 100%;
  }

  .menu-nav li a.about-active:hover {
    color: #EBEBEB;
  }

  .description {
    margin: 10% auto auto 10%;
    width: 40%;
  }

  .portrait img {
    width: 390px;
    height: 490px;
    margin: -17% auto auto 52%;
  }

  .background {
    .about-title {
      margin: auto auto auto 0%;
    }

    .about-text {
      margin: -7% auto auto 45%;
      width: 70%;
    }
  }

  .personal {
    width: 75%;

    .about-title {
      margin: auto auto auto 0%;
      width: 30%;
    }

    .about-text {
      margin: -7% auto auto 45%;
      width: 70%;
    }
  }

  .about-contact {
    margin: 10% auto auto 22%;
    width: 54%;
  }

  .about-social-icons {
    margin: auto auto auto 9%;
  }

}

// Just in Case
@media screen and (min-width: 1201px) {

  .menu {
    margin: auto auto auto 36%;
  }

  main {
    width: 70%;
    margin: 7% auto auto 17%;
  }
  
  .travel {
    width: 80%;
    margin: 20% auto auto 17%;

    .lg-heading {
      width: 39%;
    }
  
    .travel-mock img {
      width: 784px;
      height: 980px;
      margin: -55% auto auto 32%;
    }
  }

  .flight {
    width: 80%;
    margin: 5% auto auto 17%;

    .lg-heading {
      width: 42%;
    }

    .med-heading {
      font-size: 18px;
    }

    .flight-mock img {
      width: 919px;
      height: 780px;
      margin: -30% auto auto 25%;
    }
  }

  .UI {
    width: 100%;
    margin: 10% auto auto 17%;

    .med-heading {
      width: 100%;
    }

    .day29-home {
      margin: 20% auto auto -8%;
    }
  }

  .contact {
    width: 65%;
    margin: 5% auto auto 20%;
  }

  .social-icons {
    margin: auto auto auto 17%;
  }

  .footer {
    margin: auto auto auto -6%;
  }

  // 30 Day Section //

  .head-30day {
    margin: 5% auto auto 7%;
  }

  .subhead-30day {
    margin: auto auto auto -3%;
    width: 100%;
  }

  h1, h3 {
  
    &.title {
      font-size: 28px;
      width: 40%;
      margin: 3% auto auto 17%;
      opacity: 20%;
    }
  
    &.text {
      font-size: 18px;
      font-weight: normal;
      line-height: 30px;
      width: 45%;
      margin: -4% auto auto 40%;
    }
  }

  .sketch {
    margin: -10% auto auto auto;

    .title {
      margin: 4% auto auto 40%;
    }
  }

  .sketch img {
    width: 939px;
    height: 1278px;
    margin: 10% auto auto 17%;
    
  }

  .mp4 {
    margin: -10% auto auto 3%;
  }

  .day29 {
    margin: -15% auto auto auto;
  }
  

  .UI-page {
    margin: 40% auto auto auto;

    .title {
      margin: 4% auto auto 34%;
    }
  }

  .project1 {
    margin: auto auto auto 17%;
  }

  .project1 h1 {
    font-size: 32px;
  }

  .project2 {
    margin: -1% auto auto 44%;
  }

  .project2 h1 {
    font-size: 32px;
    margin: auto auto auto -11%;
  }

  .footer-30day {
    margin: 5% auto auto 2%;
  }

  // About Section //

  .menu-nav li a:hover {
    color: #EBEBEB;
    opacity: 100%;
  }

  .menu-nav li a.about-active:hover {
    color: #EBEBEB;
  }

  .description {
    margin: 6% auto auto 10%;
    width: 43%;
  }

  .portrait img {
    margin: -12% auto auto 56%;
  }

  .background {
    width: 60%;

    .about-title {
      margin: auto auto auto 10%;
    }

    .about-text {
      margin: -8% auto auto 60%;
      width: 80%;
    }
  }

  .personal {
    width: 60%;

    .about-title {
      margin: auto auto auto 10%;
    }

    .about-text {
      margin: -8% auto auto 60%;
      width: 80%;
    }
  }

  .about-contact {
    margin: 10% auto auto 28%;
    width: 45%;
  }

  .about-social-icons {
    margin: auto auto auto 11%;
  }

}