* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #070707;
  max-width: 100%;
  padding: 0;
  margin: 0;
  line-height: 1.6;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
}

html {
  overflow-x: hidden;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #F5F5F7;
  font-size: 14px;
}

@media screen and (min-width: 750px) {
  a {
    font-size: 1rem;
  }
}

.tag-inactive {
  font-weight: bold;
}

.navbar {
  background-color: rgba(10, 10, 10, 0.9);
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 5px;
  padding: 5px;
}

.navbar a {
  padding: 20px;
  margin: 0;
}

@media screen and (min-width: 991px) {
  .navbar a:hover {
    color: #F5F5F7;
    font-weight: bold;
  }
}

.navbar .flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container-nav {
  max-width: 1900px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 20px;
}

.container {
  max-width: 1050px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 16px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.logo {
  width: 40px;
  height: 40px;
  margin: 10px 5px;
}

h1 {
  color: #F5F5F7;
  font-family: "Inter", sans-serif;
  font-size: 28px;
  letter-spacing: 1px;
  margin: 0;
}

@media screen and (min-width: 991px) {
  h1 {
    font-size: 36px;
  }
}

h2 {
  color: #F5F5F7;
  font-size: 22px;
  font-family: "Inter", sans-serif;
  margin: 10px 0;
}

@media screen and (min-width: 991px) {
  h2 {
    font-size: 28px;
  }
}

h3 {
  color: #A1A1A6;
  font-weight: normal;
  font-size: 16px;
  margin: 15px 0;
}

@media screen and (min-width: 990px) {
  h3 {
    font-size: 18px;
  }
}

h4 {
  color: #A1A1A6;
  font-size: 14px;
  margin: 5px 0;
  font-weight: normal;
}

h5 {
  color: #A1A1A6;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0;
}

p {
  color: #A1A1A6;
  font-size: 12px;
}

b {
  color: #F5F5F7;
  font-weight: bold;
}

.problem {
  color: #CF5D57;
}

.solution {
  color: #659C75;
}

.mockup-notes {
  color: #A1A1A6;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  text-align: center;
}

#showcase {
  min-height: 500px;
}

#showcase .vrJam-image {
  background: url("/portfolio-files/LunaEternalOnline/LunaEternal-Showcase.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  z-index: -1;
}

@media screen and (min-width: 991px) {
  #showcase .vrJam-image {
    width: 100%;
  }
}

#showcase .metaapparel-image {
  background: url("/portfolio-files/Meta-Apparel/metaApparel-Showcase-header.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 610px;
  z-index: -1;
}

@media screen and (min-width: 991px) {
  #showcase .metaapparel-image {
    width: 100%;
  }
}

.head .container {
  max-width: 1030px;
  width: 100%;
  height: 700px;
  overflow: hidden;
}

.header-heading {
  color: #F5F5F7;
  margin: 170px 0;
  text-align: center;
}

.heading-gradient {
  background: -webkit-gradient(linear, left top, right top, from(#F17B41), color-stop(#F17B41), color-stop(#E05BA2), color-stop(#CD4BC9), to(#CD4BC9));
  background: linear-gradient(90deg, #F17B41, #F17B41, #E05BA2, #CD4BC9, #CD4BC9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-heading h1 {
  font-size: 42px;
}

@media screen and (min-width: 768px) {
  .header-heading h1 {
    font-size: 75px;
  }
}

.header-heading h2 {
  color: #A1A1A6;
  font-weight: normal;
}

.mouse_scroll {
  display: block;
  margin: 0 auto;
  width: 24px;
  height: 100px;
  margin-top: 125px;
}

.m_scroll_arrows {
  display: block;
  width: 5px;
  height: 5px;
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  border-right: 2px solid #F5F5F7;
  border-bottom: 2px solid #F5F5F7;
  margin: 0 0 3px 4px;
  width: 16px;
  height: 16px;
}

.unu {
  margin-top: 1px;
}

.unu, .doi, .trei {
  -webkit-animation: mouse-scroll 1s infinite;
  animation: mouse-scroll 1s infinite;
}

.unu {
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-delay: alternate;
          animation-delay: alternate;
}

.doi {
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  animation-delay: .2s;
  animation-direction: alternate;
  margin-top: -6px;
}

.trei {
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  animation-delay: .3s;
  animation-direction: alternate;
  margin-top: -6px;
}

.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  -webkit-transform: none;
          transform: none;
  border: 2px solid #F5F5F7;
  top: 170px;
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: #F5F5F7;
  position: relative;
  height: 4px;
  width: 4px;
  border: 2px solid #F5F5F7;
  border-radius: 8px;
}

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@keyframes mouse-wheel {
  0% {
    top: 1px;
  }
  25% {
    top: 2px;
  }
  50% {
    top: 3px;
  }
  75% {
    top: 2px;
  }
  100% {
    top: 1px;
  }
}

@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

.portfolio {
  max-width: 1200px;
  margin: 10% auto auto auto;
}

@media screen and (min-width: 990px) {
  .portfolio {
    margin: 5% auto auto auto;
  }
}

.portfolio .portfolio-title {
  color: #F5F5F7;
}

.portfolio .item {
  margin: 10% auto auto auto;
  padding: 20px 0px;
  -ms-flex-line-pack: center;
      align-content: center;
}

.portfolio .item img {
  width: 100%;
  height: 100%;
}

.portfolio .item title {
  color: #F5F5F7;
}

.project {
  max-width: 1200px;
}

.project .container img {
  width: 50%;
}

.overview, .next {
  margin: auto;
}

.content {
  padding: 50px 0px;
}

.videos {
  text-align: center;
}

.video-sample {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}

.video-sample iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.article-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(265px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));
  gap: 2rem;
}

.article-image {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.article-image img {
  max-width: 100%;
  height: auto;
  border-radius: 20px 20px 0 0;
}

.article-card {
  background: #171717;
  border-radius: 20px;
}

.card-category {
  font-size: 12px;
}

.article-content .card-title {
  margin: 1rem 0;
}

@media screen and (min-width: 990px) {
  .article-card:hover h1 {
    background: -webkit-gradient(linear, left top, right top, from(#F17B41), color-stop(#E05BA2), to(#CD4BC9));
    background: linear-gradient(90deg, #F17B41, #E05BA2, #CD4BC9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.card-title {
  font-size: 22px;
}

.card-excerpt {
  font-size: 16px;
  width: 100%;
}

.article-content {
  padding: 1.5rem;
}

@media screen and (min-width: 768px) {
  .article-container, .main-article-container {
    max-width: 608px;
  }
  .article-card {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 220px 1fr;
        grid-template-rows: 220px 1fr;
  }
}

@media screen and (min-width: 1200px) {
  .article-container, .main-article-container {
    max-width: 1156px;
  }
}

.portfolio-subhead {
  color: #A1A1A6;
  font-weight: normal;
  font-size: 16px;
  margin: 15px 0;
}

@media screen and (min-width: 990px) {
  .portfolio-subhead {
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) {
  .about-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.about-img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .about-img {
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media screen and (min-width: 768px) {
  .about-content {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 120%;
  }
}

@media screen and (min-width: 768px) {
  .about-content h1, h3 {
    width: 75%;
  }
}

.about {
  color: #F5F5F7;
  font-weight: normal;
  text-decoration: underline;
  font-size: 16px;
  margin: 15px 0;
}

@media screen and (min-width: 990px) {
  .about {
    font-size: 18px;
  }
}

.problem {
  padding: 40px 0px;
}

.statement h3 {
  color: #F5F5F7;
}

.gradient-bg {
  background-image: -webkit-gradient(linear, left top, right top, from(#F17B41), color-stop(#E05BA2), to(#CD4BC9));
  background-image: linear-gradient(90deg, #F17B41, #E05BA2, #CD4BC9);
}

.project-videos {
  width: 100%;
  border-radius: 20px;
}

.card {
  padding: 10px 20px;
  border-radius: 15px;
  border: 2px solid #F5F5F7;
}

@media screen and (min-width: 768px) {
  .card {
    width: 60%;
  }
}

@media screen and (min-width: 768px) {
  .prototype, .feedback, .testimonial, .study {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .prototype h2, h3 {
    width: 75%;
  }
}

.proto {
  border-radius: 20px;
  width: 100%;
}

.proto-AR {
  border-radius: 20px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .proto-AR {
    width: 80%;
    margin: auto auto auto 20%;
  }
}

.img {
  width: 100%;
}

.message {
  text-align: center;
  margin: 10% auto auto auto;
}

.social-links ul {
  text-align: center;
  margin: 0;
  padding: 0;
}

.social-links li {
  display: inline-block;
  margin: 0 1%;
}

.social-links li a {
  color: #A1A1A6;
}

@media screen and (min-width: 750px) {
  .social-links li a:hover {
    color: #F5F5F7;
  }
}

.btn {
  font-weight: bold;
  display: block;
  padding: 10px 48px;
  margin: 20px 0;
  width: 240px;
  height: 50px;
  border: 2px solid #F5F5F7;
  border-radius: 15px;
}

@media screen and (min-width: 750px) {
  .btn {
    width: 250px;
    padding: 10px 43px;
  }
}

@media screen and (min-width: 991px) {
  .btn:hover {
    background: -webkit-gradient(linear, left top, right top, from(#F17B41), color-stop(#CD4BC9), to(#F17B41));
    background: linear-gradient(90deg, #F17B41, #CD4BC9, #F17B41);
    background-size: 400%;
    border: none;
    -webkit-animation: animate 8s linear infinite;
            animation: animate 8s linear infinite;
    -webkit-box-shadow: 0 0 10px #F17B41, 0 0 5px #CD4BC9, 0 0 10px #F17B41;
            box-shadow: 0 0 10px #F17B41, 0 0 5px #CD4BC9, 0 0 10px #F17B41;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  @-webkit-keyframes animate {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 400%;
    }
  }
  @keyframes animate {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 400%;
    }
  }
}

.btn-game {
  font-weight: bold;
  display: block;
  padding: 10px 48px;
  margin: 0 auto;
  width: 240px;
  height: 50px;
  border: 2px solid #F5F5F7;
  border-radius: 15px;
}

@media screen and (min-width: 750px) {
  .btn-game {
    width: 250px;
    padding: 10px 43px;
  }
}

@media screen and (min-width: 991px) {
  .btn-game:hover {
    background: -webkit-gradient(linear, left top, right top, from(#F17B41), color-stop(#CD4BC9), to(#F17B41));
    background: linear-gradient(90deg, #F17B41, #CD4BC9, #F17B41);
    background-size: 400%;
    border: none;
    -webkit-animation: animate 8s linear infinite;
            animation: animate 8s linear infinite;
    -webkit-box-shadow: 0 0 10px #F17B41, 0 0 5px #CD4BC9, 0 0 10px #F17B41;
            box-shadow: 0 0 10px #F17B41, 0 0 5px #CD4BC9, 0 0 10px #F17B41;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  @-webkit-keyframes animate {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 400%;
    }
  }
  @keyframes animate {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 400%;
    }
  }
}

.footer {
  text-align: center;
  padding: 0;
  margin: 5% auto auto auto;
}
/*# sourceMappingURL=main.css.map */